/* Homepage Styling */



.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.book-now {
  position: absolute;
  height: 540px;
  width: 450px;
  padding: 2rem;
  top: 150px;
  left: 100px;
  color: $primary;
  background: #fff;
  border-radius: 5px;
}

.book-now h1 {
  font-size: 1.9rem;
  font-weight: 800;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date],
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: var(--accent);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.book-now-form {
  border-radius: 5px;
  padding: 20px 0 20px 0;
}