// Variables

/* ### Colors */

$primary:  rgb(72, 72, 72);
$accent:   rgb(255, 90, 95);
$dark:    #232c39;
$gray:    #647585;


// Fonts

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
